*{
  /*outline: 1px solid gray;*/
    padding: 0;
    margin: 0;
    color:black

} .er{
      /*width: 100%;*/
      display: flex;
    justify-content: center;
    align-content: center;
  }
  .App{
      width: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .large-screen{
      width: 100%;

  }
  .container{
      width: 100%;
      margin: auto;
      max-width: 1366px;

  }
@media screen and (max-width: 500px) {
/*.App{*/
/*    height: 100vh;*/
/*}*/

}