*{
  outline: 1px solid gray;
    padding: 0;
    margin: 0;
    color:black
} .er{
      width: 100%;
      display: flex;
    justify-content: center;
    align-content: center;
  }
  .container{
      width: 100%;
      margin: auto;
      max-width: 1200px;

  }